<header>
    <nav class="navbar navbar-default navbar-fixed-top main">
        <div class="">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <i class = "fa fa-fw fa-bars f-icon-menu"></i>
                </button>
                <a class="navbar-brand" href="#"><img src="public/graphics/fuconz_natpis_v3.png"/> </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">

                <ul class = "menu nav navbar-nav navbar-right">
                    {% if auth_user %}
                        <li class = "user-sign">
                            <a href = "{{ urlFor('user.profile.home') }}" title="{{ auth_user.ssbos("Prijavljena članica", "Prijavljeni član") }} {{ auth_user.username }}">
                                {%  set avatar_url = auth_user.getAvatarURL('avatar',
                                { "width": 38, "height": 38, "crop": "fill"}) %}
                                {%  if avatar_url %}
                                    <div class = "img-holder"><img src = "{{ avatar_url }}" /></div>
                                {% else %}
                                    <i class = "fa fa-user"></i>
                                {% endif %}
                                <span class = "label-fw"> {{ auth_user.full_name }}</span>
                            </a>
                        </li>
                    {% endif %}

                    {% if auth_admin %}
                        {#<li class = "admin-sign">#}
                            {#<i class = "fa fa-black-tie"></i> <i class = "fa fa-cogs"></i>#}
                        {#</li>#}

                        <li class = "auth"><a href="{{ urlFor('admin.logout') }}">Admin - Odjava</a></li>

                    {% else %}
                        <li class = "auth"><a href="{{ urlFor('admin.login') }}">Admin - Prijava</a></li>

                    {% endif %}

                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>

    {% if auth_admin %}


        <nav class="secondary user search open visible">
            <div class="left-fl">
                <img src="public/graphics/soc_net.png" class = "soc-net-logo">

                <div class="home-cont">

                    <a class = "home-icon-cont" href="{{ urlFor('admin.home') }}" title = "Admin stranice">

                        <div class = "f-thumbnail user user-icon no-avatar">
                            <div class = "no-show"><i class = "fa fa-home"></i></div>
                            <div class="pic-cont">
                                <i class = "fa fa-black-tie"></i>
                            </div>
                        </div>
                    </a>

                </div>


                <ul class="menu">
                    <li class="dropdown{% if active_page == "admin" %} active {% endif %}" data-filter="admin">
                        <span><i class = "fa fa-black-tie link-icon-fw fa-fw"></i><span class = "link-label-fw"> Admin</span></span>
                    </li>
                    <li class="dropdown{% if active_page == "reservations" %} active {% endif %}" data-filter="reservation">
                        <span><i class = "fa fa-calendar link-icon-fw fa-fw"></i><span class = "link-label-fw"> Rezervacije</span></span>
                    </li>
                    <li class="dropdown{% if active_page == "users" %} active {% endif %}" data-filter="users">
                        <span><i class = "fa fa-users link-icon-fw fa-fw"></i><span class = "link-label-fw"> Članovi</span></span>
                    </li>
                    <li class="dropdown{% if active_page == "matches" %} active {% endif %}" data-filter="matches">
                        <span><i class = "fa fa-futbol-o link-icon-fw fa-fw"></i><span class = "link-label-fw"> Susreti</span></span>
                    </li>
                </ul>
            </div>

        </nav>

        <div class = "empty-horiz-spacer-5 white-bg"></div>

        <nav class="nav-filters user" id="nav-filters">

            <div class="filter filter-admin list-tags">
                <ul>
                    <li>
                        <a href="{{ urlFor('admin.home') }}"
                           {% if active_item == "admin.home" %}class = "active"{% endif %}>
                            <span class = "link-label-fw">Početna</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ urlFor('admin.messages.home') }}"
                           {% if active_item == "admin.messages" %}class = "active"{% endif %}>
                            <span class = "link-label-fw">Sve poruke</span>
                        </a>
                    </li>
                    <li>
                        <a href="/" >
                            <span class = "link-label-fw">Povijest aktivnosti</span>
                        </a>
                    </li>
                </ul>
            </div>


            <div class="filter filter-reservation list-tags">
                <ul>
                    <li>
                        <a href="{{ urlFor('admin.reservations.home') }}" {% if active_item == "reservations.home" %}class = "active"{% endif %}>
                            <span class = "link-label-fw">Početna</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ urlFor('admin.reservations.user-reservations.all') }}" {% if active_item == "reservations.user-reservations" %}class = "active"{% endif %}>
                            <span class = "link-label-fw">Rezervacije članova</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ urlFor('admin.reservations.training-courses.all') }}"
                           {% if active_item == "reservations.training-courses" %}class = "active"{% endif %}>
                            <span class = "link-label-fw">Rezervacijski termini</span>
                        </a>
                    </li>
                    <li>
                        <a href="/"
                           {% if active_item == "users.home" %}class = "active"{% endif %}>
                            <span class = "link-label-fw">Tipovi treninga</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="filter filter-users list-tags">
                <ul>
                    <li>
                        <a href="{{ urlFor('admin.users.home') }}"
                           {% if active_item == "users.home" %}class = "active"{% endif %}>
                            <span class = "link-label-fw">Početna</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ urlFor('admin.users.all.active') }}"
                           {% if active_item == "users.all.active" %}class = "active"{% endif %}>
                            <span class = "link-label-fw">Aktivni članovi</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ urlFor('admin.users.all') }}"
                           {% if active_item == "users.all" %}class = "active"{% endif %}>
                            <span class = "link-label-fw">Svi članovi</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="filter filter-matches list-tags">
                <ul>
                    <li>
                        <a href="{{ urlFor('admin.matches.home') }}"
                           {% if active_item == "matches.home" %}class = "active"{% endif %}>
                            <span class = "link-label-fw">Početna</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ urlFor('admin.matches.games.all') }}"
                           {% if active_item == "matches.games" %}class = "active"{% endif %}>
                            <span class = "link-label-fw">Utakmice</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ urlFor('admin.matches.games.add') }}"
                           {% if active_item == "matches.games.add" %}class = "active"{% endif %}>
                            <span class = "link-label-fw">Nova utakmica</span>
                        </a>
                    </li>
                </ul>
            </div>


        </nav>
    {% endif %}
</header>

