{% if user_success_msgs|length > 0 or flash.success or
    user_error_msgs|length > 0 or flash.errors or
    user_statuses_msgs|length > 0 or flash.statuses %}

<div class = "inner-cont">

    {% for success in user_success_msgs %}
        <div class = "horizontal-section info inner-70pct">
            <div>
                <div class = "status-container msg success-msg">
                    <i class="status fa fa-check"></i> <h4>{{ success|nl2br }}</h4><i class="status fa close-info fa-ban" title = "Zatvori obavijest"></i>
                </div>
            </div>
        </div>

    {% endfor %}
    {% if flash.success %}
        <div class = "horizontal-section info inner-70pct">
            <div>
                <div class = "status-container msg success-msg warning-msg">
                    <i class="status fa fa-check"></i> <h4>{{ flash.success|nl2br }}</h4><i class="status fa close-info fa-ban" title = "Zatvori obavijest"></i>
                </div>
            </div>
        </div>

    {% endif %}



    {% for error in user_error_msgs %}
        <div class = "horizontal-section info inner-70pct">
            <div>
                <div class = "status-container msg error-msg ">
                    <i class="status fa fa-times-circle"></i> <h4>{{ error|nl2br }}</h4><i class="status fa close-info fa-ban" title = "Zatvori obavijest"></i>
                </div>
            </div>
        </div>

    {% endfor %}
    {% if flash.errors %}
        <div class = "horizontal-section info inner-70pct">
            <div>
                <div class = "status-container msg error-msg warning-msg">
                    <i class="status fa fa-times-circle"></i> <h4>{{ flash.errors|nl2br }}</h4><i class="status fa close-info fa-ban" title = "Zatvori obavijest"></i>
                </div>
            </div>
        </div>

    {% endif %}


    {% for status in user_status_msgs %}
        <div class = "horizontal-section info inner-70pct">
            <div>
                <div class = "status-container msg status-msg warning-msg">
                    <i class="status fa fa-info-circle"></i> <h4>{{ status|nl2br }}</h4><i class="status fa close-info fa-ban" title = "Zatvori obavijest"></i>
                </div>
            </div>
        </div>

    {% endfor %}
    {% if flash.statuses %}
        <div class = "horizontal-section info inner-70pct">
            <div>
                <div class = "status-container msg status-msg warning-msg">
                    <i class="status fa fa-info-circle"></i> <h4>{{ flash.statuses|nl2br }}</h4><i class="status fa close-info fa-ban" title = "Zatvori obavijest"></i>
                </div>
            </div>
        </div>

    {% endif %}
</div>

{% endif %}

<script>
    $(document).on("click", ".info:not(.special-info) .status-container .close-info.fa", function(){
        console.log("clicked closing info");
        var $clicked = $(this);
        var $containerSection = $clicked.closest(".horizontal-section.info");
        var $mainInfoStatusesCont = $containerSection.closest(".inner-cont");
        if($mainInfoStatusesCont.children().length > 1) {
            $containerSection.slideUp(800, function(){
                $(this).remove();
            });
        } else {
            $mainInfoStatusesCont.slideUp(800, function(){
                $(this).remove();
            });
        }
    });

    $(document).on("click", ".special-info.pre-booking .status-container .close-info.fa", function(){
        console.log("clicked closing prebooking info");
        var $clicked = $(this);
        var selection =  confirm("Ne prikazuj ovu obavijest kod sljedećeg otvaranja ove stranice?");

        if(selection) {
            Cookies.set('dont-show-pre-booking-info', true, { expires: 30 });
        }

        var $containerSection = $clicked.closest(".horizontal-section.info");
        var $mainInfoStatusesCont = $containerSection.closest(".inner-cont");
        if($mainInfoStatusesCont.children().length > 1) {
            $containerSection.slideUp(800, function(){
                $(this).remove();
            });
        } else {
            $mainInfoStatusesCont.slideUp(800, function(){
                $(this).remove();
            });
        }
    });


</script>