

<div class="calendar-header horizontal clearfix-helper">

    <a class="offset-picker-prev navigation-offset-changer standard-offset-changer horizontal"
       data-handler="prev"
       data-direction-offset = "{{ calendar.days_offset_std() }}"
       data-direction = "minus"
       data-link = "{{ url_change_view }}"
       data-date = "{{ course_constants.get_day_offset(-calendar.days_offset_std()) }}">
        <span class="fa fa-chevron-left"></span>
    </a>

    <a class="offset-picker-next navigation-offset-changer standard-offset-changer horizontal"
       data-handler="next"
       data-direction-offset = "{{ calendar.days_offset_std() }}"
       data-direction = "plus"
       data-link = "{{ url_change_view }}"
       data-date = "{{ course_constants.get_day_offset(calendar.days_offset_std()) }}">
        <span class="fa fa-chevron-right"></span>
    </a>



    <div class="offset-picker-title">

        <span class="offset-picker-month">{{ calendar.advanced_month_label(course_constants.read('selected.date')) }}</span>
    </div>

</div>

