{% extends "admin/templates/default.twig" %}

{% block title %}
    Uredi utakmicu
{% endblock %}

{% block content %}


    <div class = "main-block-cont">
        <div class = "black-horiz-spacer-10"></div>

        <div class = "main-title-box">
            <div class = "inner-cont flag"></div>
            <div class = "inner-cont page-title">
                <h1>Uredi utakmicu</h1>
            </div>
        </div>
        <div class = "black-horiz-spacer-5"></div>

        <div class = "main-content-box">
            {% include "admin/templates/partials/admin_messages.twig" %}

            <div class = "inner-cont">
                <div class = "form-container">


                    <form method = "post" name = "game" id = "game"  onsubmit="return false;"
                          action = "{{ urlFor('admin.matches.game.edit.post') }}">
                        <div class = "inputs-container">

                            <input type="hidden" value = "{{ game.id }}" id = "id" name = "id">

                            <div class = "vertical-section text-centered">
                                <div class = "">

                                    <input type="text" name="span-label" id="span-label" required
                                           maxlength="255" spellcheck="false" autocomplete="off" tabindex="1" readonly
                                           class = "large-text-input large-input-width"
                                           value = "{{ datetime_span_label }}"/>
                                    <label id="datetime-span-label" for = "span-label" data-info="Termin"></label>

                                </div>
                            </div>

                            <div class = "vertical-section text-centered">
                                <div class = "">

                                    <input type="text" name="title" id="title" required value = "{{ game.title }}"
                                           maxlength="255" spellcheck="false" autocomplete="off" tabindex="2"
                                           class = "std-text-input std-input-width req"/>
                                    <label for = "title" id="title-label" class = "req" data-info="Naziv"></label>

                                </div>
                            </div>

                            <div class = "vertical-section text-centered">
                                <div class = "">

                                    <input type="text" name="field" id="field" required value = "{{ game.field }}"
                                           maxlength="255" spellcheck="false" autocomplete="off" tabindex="3"
                                           class = "std-text-input std-input-width"/>
                                    <label id="field-label" class = "" for = "field" data-info="Teren"></label>

                                </div>
                            </div>

                            <input type = "hidden" name = "span-id" required readonly value = "{{ datetime_span_id }}">


                            <div class = "vertical-section text-centered multirow">
                                <div class = "">

                                    <input type="number" name="res-team-one" id="res-team-one"
                                           min="0" tabindex="4" required value = "{{ game.res_team_one }}"
                                           class = "small-text-input small-input-width req"/>
                                    <label id="res-team-one-label" class = "req" for = "res-team-one"
                                           data-info="Rez ekipe 1"></label>

                                </div>
                            </div>

                            <div class = "vertical-section text-centered multirow">
                                <div class = "">

                                    <input type="number" name="res-team-two" id="res-team-two"
                                           min="0" tabindex="5" required value = "{{ game.res_team_two }}"
                                           class = "small-text-input small-input-width req"/>
                                    <label id="res-team-one-label" class = "req" for = "res-team-two"
                                           data-info="Rez ekipe 2"></label>

                                </div>
                            </div>

                            <div class = "vertical-section text-centered">
                                <div class = "">

                                    <input type="checkbox" name="after-et" id="after-et"
                                           class = "cb-input after-et" tabindex="6" {{ (game.after_extra_time == 1)? 'checked="true"' : '' }}>
                                    <div class = "checkbox-div-cont f-std-input-width">
                                        <label for = "after-et" data-info="Nakon penala">
                                            <span>Produžetak/Penali?</span>
                                        </label>
                                    </div>

                                </div>
                            </div>

                            <div class = "vertical-section text-centered">
                                <div class = "">

                                    <div class = "f-radio-div">

                                        <input type="radio" name="winner-selection" value = "1" id = "home-win"
                                               class = "rb-input winner-selector " tabindex="7"  {{ (game.winner == 1)? 'checked="true"' : '' }}><!--
                                        --><div class = "radio-div-cont first-left f-std-input-width">
                                            <label for = "home-win">
                                                <span>Pobjeda ekipe 1</span>
                                            </label>
                                        </div><!--

                                        --><input type="radio" name="winner-selection" value = "2" id = "away-win"
                                                  class = "rb-input winner-selector" tabindex="8"  {{ (game.winner == 2)? 'checked="true"' : '' }}><!--
                                        --><div class = "radio-div-cont second-left f-std-input-width">
                                            <label for = "away-win">
                                                <span>Pobjeda ekipe 2</span>
                                            </label>
                                        </div><!--

                                        --><input type="radio" name="winner-selection" value = "0" id = "draw"
                                                  class = "rb-input winner-selector" tabindex="9"  {{ (game.winner == 0)? 'checked="true"' : '' }}><!--
                                        --><div class = "radio-div-cont third-left f-std-input-width">
                                            <label for = "draw">
                                                <span>Neriješeno</span>
                                            </label>
                                        </div>

                                    </div>

                                </div>
                            </div>




                            <div class = "standard-f-section text-centered multirow multirow-inline players team-one">
                                <h3>Ekipa 1</h3>
                                <div class = "submitter-cont">
                                    <div class="submitter submit bbb-flag-v-cibona-blue">
                                        <a data-team = "one" class = "add-player" tabindex = "10">Dodaj igrača</a>
                                    </div>
                                </div>

                                <div class = "display-none vertical-section text-centered one player-selector">
                                    <div class = " relative-pos">
                                        <select name="players-team-one[]"  required
                                                class = "std-text-input std-input-width">
                                            <option selected disabled hidden value=''></option>
                                            {% for user in users %}
                                                <option value = "{{ user.id }}">
                                                    {{ user.username }} ({{ user.full_name() }})
                                                </option>
                                            {% endfor %}

                                        </select>

                                        <label data-info="Igrač"></label>
                                    </div>
                                </div>

                                {% for player_team_one in game.players_team_one %}
                                    <div class = "vertical-section text-centered one player-selector">
                                        <div class = " relative-pos">
                                            <select name="players-team-one[]"  required
                                                    class = "std-text-input std-input-width">
                                                <option disabled hidden value=''></option>
                                                {% for user in users %}
                                                    <option value = "{{ user.id }}" {{ (player_team_one.id == user.id) ? 'selected' : '' }}>
                                                        {{ user.username }} ({{ user.full_name() }})
                                                    </option>
                                                {% endfor %}

                                            </select>

                                            <label data-info="Igrač"></label>
                                            <i class="fa fa-fw fa-times-circle remove-selection" title="Izbriši odabir"></i>
                                        </div>
                                    </div>
                                {% endfor %}

                            </div><!--


                            --><div class = "standard-f-section text-centered multirow multirow-inline players team-two">
                                <h3>Ekipa 2</h3>
                                <div class = "submitter-cont">
                                    <div class="submitter submit bbb-flag-v-cibona-blue">
                                        <a data-team = "two" class = "add-player" tabindex = "11">Dodaj igrača</a>
                                    </div>
                                </div>
                                <div class = "display-none vertical-section text-centered two player-selector">
                                    <div class = " relative-pos">
                                        <select name="players-team-two[]" required
                                                class = "std-text-input std-input-width">
                                            <option selected disabled hidden value=''></option>
                                            {% for user in users %}
                                                <option value = "{{ user.id }}">
                                                    {{ user.username }} ({{ user.full_name() }})
                                                </option>
                                            {% endfor %}
                                        </select>

                                        <label data-info="Igrač"></label>
                                    </div>
                                </div>
                                {% for player_team_two in game.players_team_two %}
                                    <div class = "vertical-section text-centered two player-selector">
                                        <div class = " relative-pos">
                                            <select name="players-team-two[]"  required
                                                    class = "std-text-input std-input-width">
                                                <option disabled hidden value=''></option>
                                                {% for user in users %}
                                                    <option value = "{{ user.id }}" {{ (player_team_two.id == user.id) ? 'selected' : '' }}>
                                                        {{ user.username }} ({{ user.full_name() }})
                                                    </option>
                                                {% endfor %}

                                            </select>

                                            <label data-info="Igrač"></label>
                                            <i class="fa fa-fw fa-times-circle remove-selection" title="Izbriši odabir"></i>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>

                        </div>


                        {% include "admin/templates/partials/live_status.container.twig" %}

                        <input type = "hidden" name = "csrf-token" value = "{{ csrf_token }}">

                        <div class = "submitter-cont">
                            <div class = "">
                                <div class = "submitter submit bbb-flag-v-cibona-blue" tabindex="12"
                                     onclick="validateAndSubmitGame('game')">
                                    <span>SPREMI</span>
                                </div>
                                <div class="submitter bbb-flag-v-cibona-blue reversed cancel">
                                    <a href = "{{ urlFor('admin.matches.games.all') }}" tabindex="13">ODUSTANI</a>
                                </div>
                            </div>
                        </div>


                    </form>
                </div>
            </div>
        </div>

    </div>


    <script>
        $(document).ready(function(){
            function valSub() {
                if(formSubmittingActive == true) {
                    validateAndSubmitGame('game');
                    return false;
                }
            }
            $('#game').keydown(function(e) {
                if (e.keyCode == 13) {
                    valSub();
                }
            });
            $('.submitter.submit').keydown(function(e) {

                if (e.keyCode == 13) {
                    valSub();
                }
            });

        });


    </script>


{% endblock %}

{% block additional_js %}
    <script src="public/code/js/admin/validation.js"></script>

    <script src="public/code/js/admin/validation_content.js"></script>

    <script>
        $(document).on("click", ".add-player", function() {
            var team = $(this).data("team");

            var divCloned = $(".player-selector." + team ).first().clone();

            divCloned.removeClass("display-none");

            removeSelectionIcon = document.createElement("i");
            removeSelectionIcon.className = "fa fa-fw fa-times-circle remove-selection";
            removeSelectionIcon.title = "Izbriši odabir";

            divCloned.children().first().append(removeSelectionIcon);

            divCloned.appendTo('.players.team-' + team + '').slideDown(700, function() {
            });
            divCloned.find("select").focus();

        });


        $(document).on("click", ".player-selector .remove-selection", function() {
            $(this).closest(".player-selector").slideUp(800, function(){
                $(this).remove();
            });

        });

    </script>
{% endblock %}