

<div class = "day-container{{ (day_passed) ? ' day-ended' : '' }}">

    <div class = "date-container">
        {% if day_passed %}
            <i class = "fa fa-times day-ended"></i>
        {% endif %}

        <span>{{ curr_date|date("j") }}</span>
    </div>






    {% set datetime_spans = datetimes.getByDate(curr_date) %}
    {% if datetime_spans|length > 0 %}
    <div class = "booking-slots-exists"></div>

    <div class = "booking-slots">
        <div class = "bookings-container">
        {% for span in datetime_spans %}
            {% set games_for_span = game.getGamesByDatetimeSpan(span.id) %}

            <div class = "booking">
                {% if games_for_span|length > 0 %}
                    {% for game_for_span in games_for_span %}
                        <a class = "clickable existing-game-link" title = "{{ game_for_span.title }}"
                           href = "{{ urlFor('admin.matches.game.edit', {"game_id": game_for_span.id}) }}">
                            <div class = "existing-game-icon-cont {{ span_preselected? 'yes':'not' }}-selected">
                                <i class = "fa fa-fw fa-futbol-o mega"></i>
                            </div>
                        </a>

                    {% endfor %}
                {% endif %}
                <a class = "clickable" title = "{{ span.descriptionString() }}"
                   href = "{{ urlFor('admin.matches.game.new', {"span_id": span.id}) }}">
                    <div class = "legend-icon-cont">
                        <i class = "fa fa-fw fa-plus-circle mega" ></i>
                    </div>
                    <div class = "duration-cont">
                        <span class = "times">{{ span.start_time }}</span>
                    </div>
                </a>

            </div>


        {% endfor %}
        </div>
    </div>
    {% endif %}

</div>