

<div class="calendar-header widget-header clearfix-helper">

    <a class="month-picker-prev month-changer" data-handler="prev" data-event="click" data-csrf-key-name = "{{ csrf_key }}"
       title="" data-link = "{{ urlFor('user.booking.change-month.post') }}" data-date = "{{ course_constants.read('month.before') }}">
        <span class="fa fa-chevron-left"></span>
    </a>

    <a class="month-picker-next month-changer" data-handler="next" data-event="click" data-csrf-key-name = "{{ csrf_key }}"
       title="" data-link = "{{ urlFor('user.booking.change-month.post') }}" data-date = "{{ course_constants.read('month.after') }}">
        <span class="fa fa-chevron-right"></span>
    </a>

    <div class="month-picker-title">
        <span class="month-picker-month">{{ calendar.cro_month_label(course_constants.read('selected.month')) }}</span>&nbsp;
        <span class="month-picker-year">{{ course_constants.read('selected.year') }}.</span>
    </div>

</div>

