


<nav class="secondary user search open visible">
    <div class="left-fl">
        <img src="public/graphics/soc_net.png" class = "soc-net-logo">

        <div class="home-cont">
            {%  set avatar_url = auth_user.getAvatarURL('avatar',
                { "width": 48, "height": 48, "crop": "fill"}) %}
            {%  if avatar_url %}
            <div class = "w-20">
                <a href="{{ urlFor('user.profile.home') }}"  title="Članske stranice">
                    <div class = "home-icon-cont">
                        <div class = "thumbnail user yes-avatar">
                            <div class = "pic-cont"
                                 style="background-image:url('{{ avatar_url }}');" >
                            </div>
                        </div>

                    </div>
                </a>

            </div>
            {% endif %}
            <div class="welcome-name">
                <div class = "name">
                    <h5 class ="classic">{{ auth_user.ssbos("Dobrodošla,", "Dobrodošao,") }}</h5>
                    <a href="{{ urlFor('user.profile.home') }}" class="first-last-name" title="Članske stranice">{{ auth_user.username }}</a>
                </div>
            </div>
        </div>


        <ul class="menu">
            <li class="dropdown{% if active_page == "user.profile" %} active{% endif %}" data-filter="profile">
                <span><i class = "fa fa-cogs fa-fw"></i> Profil</span>
            </li>
            <li class="no-dropdown{% if active_page == "user.reservations" %} active{% endif %}" data-filter="reservation">
                <a href = "{{ urlFor('user.book-training-course') }}"><i class = "fa fa-calendar-check-o fa-fw"></i> Rezervacija</a>
            </li>
            <li class="dropdown{% if active_page == "user.main" %} active {% endif %}" data-filter="user-main">
                <span>
                    <i class = "fa fa-user fa-fw"></i> Korisničke stranice{%  if auth_user.unreadMessagesExists() %}
                    <script>
                        var originalDocTitle = document.title;
                        var prependToTitle = function(prefix) {
                            document.title = prefix + originalDocTitle;
                        };
                        prependToTitle('({{ auth_user.numberOfUnreadMessages() }}) ');

                        $(document).on('ready', function() {
                            // Update number in all browser tabs right away
                            if (Intercom.supported) {
                                var intercom = new Intercom();
                                intercom.emit('numOfMessagesChange', {numberOfUnread: {{ auth_user.numberOfUnreadMessages() }} });
                            }
                        });

                    </script>
                    <i class = "fa fa-envelope faa-horizontal animated alarm" id = "unread-messages-header-alarm"></i>
                    {% endif %}
                </span>

            </li>
        </ul>
    </div>

</nav>
<div class = "empty-horiz-spacer-5 white-bg"></div>

<nav class="nav-filters user" id="nav-filters">

    <div class="filter filter-profile list-tags">
        <ul>
            <li><a href="{{ urlFor('user.profile.home') }}"
                   {% if active_item == "user.profile.home" %}class = "active"{% endif %}>Početna</a></li>
            <li><a href="{{ urlFor('user.profile.password-change') }}"
                   {% if active_item == "user.profile.password-change" %}class = "active"{% endif %}><i class = "fa fa-fw fa-key"></i> Promjena lozinke</a></li>
            <li><a href="{{ urlFor('user.profile.profile-data-change') }}"
                   {% if active_item == "user.profile.profile-data-change" %}class = "active"{% endif %}><i class = "fa fa-fw fa-cog"></i> Osobni podaci</a></li>
            <li><a href="/" >Povijest aktivnosti</a></li>
        </ul>
    </div>


    <div class="filter filter-user-main list-tags">
        <ul>
            <li>
                <a href="{{ urlFor('user.messages.home') }}"
                   {% if active_item == "user.main.messages" %}class = "active"{% endif %}>
                    <i class = "fa fa-fw fa-envelope-o{{ (auth_user.unreadMessagesExists())? ' unread-exists' : '' }}"></i>
                    <span> Poruke</span><!--
                    --><span>(</span><!--
                    --><span class = "num-of-msg{{ (auth_user.unreadMessagesExists())? ' unread-exists' : '' }}" id = "header-number-of-unread">
                        {{ auth_user.numberOfUnreadMessages() }}
                    </span><!--
                    --><span>/</span><!--
                    --><span class = "num-of-msg">{{ auth_user.numberOfMessages() }}</span><!--
                    --><span>)</span>
                </a>
            </li>
            <li><a href="{{ urlFor('user.bookings.home') }}"
                   {% if active_item == "user.main.bookings" %}class = "active"{% endif %}><i class = "fa fa-fw fa-book"></i> Moje prijave</a>
            </li>
            <li><a href="{{ urlFor('user.logout') }}"><i class = "fa fa-fw fa-sign-out"></i> Odjava</a></li>
        </ul>
    </div>


</nav>