{% extends "templates/default.twig" %}

{% block title %}
    Poruke
{% endblock %}

{% block content %}


    <div class = "main-block-cont">
        <div class = "black-horiz-spacer-10"></div>

        <div class = "main-title-box">
            <div class = "inner-cont flag"></div>
            <div class = "inner-cont page-title">
                <h1>Poruke</h1>
            </div>
        </div>
        <div class = "black-horiz-spacer-5"></div>

        <div class = "main-content-box">

            {% include "templates/partials/user_messages.twig" %}

            <div class = "inner-cont">


                <div  class = "horizontal-section text-centered">
                    <div class = "inner-70pct">
                        {% if messages|length < 1 %}
                            <span>Nemaš poruka!</span>
                        {% else %}

                            {% for message in messages %}
                                {% if message.has_been_read == 1 %}
                                    <div id = "m-{{ message.id }}" class = "message item std-item has-been-read">
                                {% else %}
                                    <div id = "m-{{ message.id }}" class = "message item std-item has-not-been-read">
                                {% endif %}
                                        <section class="td icon">
                                            <div class = "icon-holder std-icon-holder">
                                                <div class = "message-icon-cont std-icon-cont">
                                                    <div class = "thumbnail message message-icon std-icon">
                                                        <div class="pic-cont std-pic-cont">
                                                            <i class = "fa icon fa-fw fa-envelope-o"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section><!--

                                        --><section class="td message">
                                            <div class = "time-label-holder">
                                                 <span>{{ message.timeLabel() }}</span>
                                            </div>
                                            <div class = "message-holder">
                                                {{ message.message_body|raw }}

                                            </div>
                                        </section><!--

                                        --><section class = "td has-been-read-status">
                                            <div class = "status-holder">
                                            {% if message.has_been_read == 0 %}
                                                <a class="has-been-read-status-changer active"
                                                   data-event="click" data-csrf-key-name = "csrf-token"
                                                   title="Pročitano?" data-link = "{{ urlFor('user.messages.change-read-status.post') }}"
                                                   data-msg-id = "{{ message.id }}" data-msg-receiver-type = "user">
                                                    <span class="fa fa-square-o selector"></span>
                                                    <span class="fa fa-exclamation exclamation-alarm"></span>
                                                </a>
                                            {% endif %}
                                            </div>

                                        </section>


                                    </div>
                            {% endfor %}
                        {% endif %}
                        <input type = "hidden" name = "csrf-token" value = "{{ csrf_token }}">

                    </div>
                </div>


            </div>
        </div>

    </div>

{% endblock %}


{% block additional_js %}
        <script src="public/code/js/messages.js"></script>

{% endblock %}