{% extends "templates/default.twig" %}

{% block title %}
    Prijave
{% endblock %}

{% block content %}


    <div class = "main-block-cont">
        <div class = "black-horiz-spacer-10"></div>

        <div class = "main-title-box">
            <div class = "inner-cont flag"></div>
            <div class = "inner-cont page-title">
                <h1>Moje prijave</h1>
            </div>
        </div>
        <div class = "black-horiz-spacer-5"></div>

        <div class = "main-content-box">

            {% include "templates/partials/user_messages.twig" %}

            <div class = "inner-cont">


                <div  class = "horizontal-section text-centered">

                {% if not bookings_exists %}
                    <div class = "inner-70pct">
                        <span>Nema prijava</span>
                    </div>
                {% else %}

                    {% if bookings_allowed|length > 0 %}
                        <h3>Budući termini</h3>

                        {% set num_of_activated_prebookings = 0 %}
                        {% for booking in bookings_allowed %}
                            <div id = "b-{{ booking.datetime_span.datetimeIdString() }}" class = "booking item std-item active booking-allowed">

                                <div class = "section-group-selector">

                                    <section class="td icon inline-cont">
                                        <div>
                                            <div class = "icon-holder std-icon-holder">
                                                <div class = "booking-icon-cont std-icon-cont">
                                                    <div class = "thumbnail booking booking-icon std-icon">
                                                        <div class="pic-cont std-pic-cont">
                                                            {% if booking.type == 'reservation' %}
                                                                <i class = "fa icon fa-fw fa-calendar-check-o"></i>
                                                            {% elseif booking.type == 'prereservation' %}
                                                                <i class = "fa icon fa-fw fa-clock-o"></i>
                                                            {% else %}
                                                                <i class = "fa icon fa-fw fa-question"></i>
                                                            {% endif %}
                                                        </div>
                                                        {% if booking.type == 'reservation' and booking.triggered == 1%}
                                                            <div class = "overlay-pic-cont std-pic-cont" title = "Aktivirana predbilježba">
                                                                <i class = "fa fa-fw icon-o fa-exclamation"></i>
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section><!--
                                    --><section class="td course-span inline-cont">
                                        <div class = "span-info-holder">
                                            <span class = "fw-std">{{ booking.datetime_span.descriptionString() }}</span>
                                            <span class = "fw-mid">{{ booking.datetime_span.descriptionStringMid() }}</span>
                                            <span class = "fw-min">{{ booking.datetime_span.descriptionStringMin() }}</span>
                                        </div>
                                    </section>

                                </div><!--


                                --><div class = "section-group-selector">

                                    <section class="td status-icon inline-cont">
                                        <div>
                                            <div class = "status-icon-holder std-icon-holder">
                                                <div class = "booking-icon-cont std-icon-cont">
                                                    <div class = "thumbnail booking booking-icon std-icon">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </section><!--
                                    --><section class="td status inline-cont">
                                        <div class = "status-info-holder">
                                            <div>
                                                {% if booking.type == 'prereservation' %}
                                                    <span>Predbilježba</span>
                                                {% elseif booking.type == 'reservation' %}
                                                    <span>Rezervacija
                                                        {% if booking.triggered == 1 %}
                                                            <br>Aktivirano predbilježbom
                                                        {% endif %}
                                                    </span>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </section>
                                </div><!--


                                --><div class = "section-group-selector">

                                    <section class="td availability inline-cont">
                                        <a class = "availability-holder" href = "{{ urlFor('user.bookings.span.details', {'span_id':booking.datetime_span.id}) }}">
                                            <i class = "fa fa-fw fa-users"></i><!--
                                            --><span>{{ '%d%s/%d'|format(booking.datetime_span.numberOfReservations(),
                                            (booking.datetime_span.numberOfPrereservations() > 0)? '+' ~ booking.datetime_span.numberOfPrereservations() : '',
                                            booking.datetime_span.training_course.capacity)}}</span>

                                        </a>
                                    </section><!--
                                    --><section class = "td cancelation inline-cont">
                                        <div class = "cancelation-icon-holder std-icon-holder" data-url = "{{ urlFor('user.booking.cancel.post') }}"
                                             data-booking-type = "{{ (booking.type == 'prereservation')? 'pre_reservation' : 'reservation' }}"
                                             data-booking-id = "{{ booking.id }}"
                                             data-confirmation-text = "Jeste li sigurni da želite otkazati {{
                                             (booking.type == 'prereservation')? 'predbilježbu' : 'rezervaciju' }}? ">
                                            <div class = "cancel-label"><span>Otkaži</span></div><!--
                                            --><div class = "cancelation-icon-cont std-icon-cont">
                                                <div class = "thumbnail cancelation cancelation-icon std-icon ">
                                                    <div class="pic-cont std-pic-cont">
                                                        <i class = "fa fa-fw icon fa-ban"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>

                            </div>
                        {% endfor %}

                    {% endif %}


                    {% if bookings_not_allowed|length > 0 %}
                        <h3>Termini uskoro!</h3>

                        {% for booking in bookings_not_allowed %}
                            <div id = "b-{{ booking.datetime_span.datetimeIdString() }}" class = "booking item std-item booking-disallowed">
                                <div class = "section-group-selector">

                                    <section class="td icon inline-cont">
                                        <div>
                                            <div class = "icon-holder std-icon-holder">
                                                <div class = "booking-icon-cont std-icon-cont">
                                                    <div class = "thumbnail booking booking-icon std-icon no-avatar">
                                                        <div class="pic-cont std-pic-cont">
                                                            {% if booking.type == 'reservation' %}
                                                                <i class = "fa icon fa-fw fa-calendar-check-o"></i>
                                                            {% elseif booking.type == 'prereservation' %}
                                                                <i class = "fa icon fa-fw fa-clock-o"></i>
                                                            {% else %}
                                                                <i class = "fa icon fa-fw fa-question"></i>
                                                            {% endif %}
                                                        </div>
                                                        {% if booking.type == 'reservation' and booking.triggered == 1 %}
                                                            <div class = "overlay-pic-cont std-pic-cont" title = "Aktivirana predbilježba">
                                                                <i class = "fa fa-fw icon-o fa-exclamation"></i>
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section><!--
                                    --><section class="td course-span inline-cont">
                                        <div class = "span-info-holder">
                                            <span class = "fw-std">{{ booking.datetime_span.descriptionString() }}</span>
                                            <span class = "fw-mid">{{ booking.datetime_span.descriptionStringMid() }}</span>
                                            <span class = "fw-min">{{ booking.datetime_span.descriptionStringMin() }}</span>
                                        </div>
                                    </section>

                                </div><!--

                                --><div class = "section-group-selector">

                                    <section class="td status-icon inline-cont">
                                        <div>
                                            <div class = "status-icon-holder std-icon-holder">
                                                <div class = "booking-icon-cont std-icon-cont">
                                                    <div class = "thumbnail booking booking-icon std-icon no-avatar">
                                                        <div class="pic-cont std-pic-cont">
                                                            {% if booking.type == 'prereservation' %}
                                                                {% if booking.activated == 1 %}
                                                                    <i class="icon fa fa-fw fa-check"></i>
                                                                {% elseif booking.activated == 2 %}
                                                                    <i class="icon fa fa-fw fa-times"></i>
                                                                {% else %}
                                                                    <i class="icon fa fa-fw fa-question"></i>
                                                                {% endif %}
                                                            {% elseif booking.type == 'reservation' %}
                                                                {% if booking.canceled == 1 %}
                                                                    <i class="icon fa fa-fw fa-times"></i>
                                                                {% elseif booking.canceled == 2 %}
                                                                    <i class="icon fa fa-fw fa-check"></i>
                                                                {% else %}
                                                                    <i class="icon fa fa-fw fa-question"></i>
                                                                {% endif %}
                                                            {% endif %}

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section><!--
                                    --><section class="td status inline-cont">
                                        <div class = "status-info-holder">
                                            <div>
                                                {% if booking.type == 'prereservation' %}
                                                    {% if booking.activated == 2 %}
                                                        <span>Otpala predbilježba za popunjeni termin</span>
                                                    {% elseif booking.activated == 1 %}
                                                        <span>Aktivirana predbilježba</span>
                                                    {% else %}
                                                        <span>Predbilježba zasad nepoznatog statusa</span>
                                                    {% endif %}
                                                {% elseif booking.type == 'reservation' %}
                                                    {% if booking.canceled == 1 %}
                                                        <span>Poništena rezervacija za otkazani temin</span>
                                                    {% elseif booking.canceled == 2 %}
                                                        <span>Potvrđeno održavanje termina
                                                            {% if booking.triggered == 1 %}
                                                                <br>Aktivirano predbilježbom
                                                            {% endif %}
                                                        </span>
                                                    {% else %}
                                                        <span>Rezervacija zasad nepoznatog statusa</span>
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </section>

                                </div><!--

                                --><div class = "section-group-selector">

                                    <section class="td availability inline-cont">
                                        <a class = "availability-holder" href = "{{ urlFor('user.bookings.span.details', {'span_id':booking.datetime_span.id}) }}">
                                            <i class = "fa fa-fw fa-users"></i><!--
                                            --><span>{{ '%d%s/%d'|format(booking.datetime_span.numberOfReservations(),
                                                (booking.datetime_span.numberOfPrereservations() > 0)? '+' ~ booking.datetime_span.numberOfPrereservations() : '',
                                                booking.datetime_span.training_course.capacity)}}</span>
                                        </a>
                                    </section><!--
                                    --><section class = "td cancelation empty inline-cont">

                                    </section>
                                </div>

                            </div>
                        {% endfor %}

                    {% endif %}


                    {% if bookings_ended|length > 0 %}
                        <h3>Završeni termini</h3>

                        {% for booking in bookings_ended %}
                            <div id = "b-{{ booking.datetime_span.datetimeIdString() }}" class = "booking item std-item booking-ended">
                                <div class = "section-group-selector">

                                    <section class="td icon inline-cont">
                                        <div>
                                            <div class = "icon-holder std-icon-holder">
                                                <div class = "booking-icon-cont std-icon-cont">
                                                    <div class = "thumbnail booking booking-icon std-icon no-avatar">
                                                        <div class="pic-cont std-pic-cont">
                                                            {% if booking.type == 'reservation' %}
                                                                <i class = "fa icon fa-fw fa-calendar-check-o"></i>
                                                            {% elseif booking.type == 'prereservation' %}
                                                                <i class = "fa icon fa-fw fa-clock-o"></i>
                                                            {% else %}
                                                                <i class = "fa icon fa-fw fa-question"></i>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section><!--
                                    --><section class="td course-span inline-cont">
                                        <div class = "span-info-holder">
                                            <span class = "fw-std">{{ booking.datetime_span.descriptionString() }}</span>
                                            <span class = "fw-mid">{{ booking.datetime_span.descriptionStringMid() }}</span>
                                            <span class = "fw-min">{{ booking.datetime_span.descriptionStringMin() }}</span>
                                        </div>

                                    </section>

                                </div><!--

                                --><div class = "section-group-selector">
                                    <section class="td status-icon inline-cont">
                                        <div>
                                            <div class = "status-icon-holder std-icon-holder">
                                                <div class = "booking-icon-cont std-icon-cont">
                                                    <div class = "thumbnail booking booking-icon std-icon no-avatar">
                                                        <div class="pic-cont std-pic-cont">
                                                            {% if booking.type == 'prereservation' %}
                                                                {% if booking.activated == 1 %}
                                                                    <i class="icon fa fa-fw fa-check"></i>
                                                                {% elseif booking.activated == 2 %}
                                                                    <i class="icon fa fa-fw fa-times"></i>
                                                                {% else %}
                                                                    <i class="icon fa fa-fw fa-question"></i>
                                                                {% endif %}
                                                            {% elseif booking.type == 'reservation' %}
                                                                {% if booking.canceled == 1 %}
                                                                    <i class="icon fa fa-fw fa-times"></i>
                                                                {% elseif booking.canceled == 2 %}
                                                                    <i class="icon fa fa-fw fa-check"></i>
                                                                {% else %}
                                                                    <i class="icon fa fa-fw fa-question"></i>
                                                                {% endif %}
                                                            {% endif %}

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section><!--
                                    --><section class="td status inline-cont">
                                        <div class = "status-info-holder">
                                            <div>
                                                {% if booking.type == 'prereservation' %}
                                                    {% if booking.activated == 2 %}
                                                        <span>Otpala predbilježba za popunjeni termin</span>
                                                    {% elseif booking.activated == 1 %}
                                                        <span>Aktivirana predbilježba</span>
                                                    {% else %}
                                                        <span>Predbilježba zasad nepoznatog statusa</span>
                                                    {% endif %}
                                                {% elseif booking.type == 'reservation' %}
                                                    {% if booking.canceled == 1 %}
                                                        <span>Poništena rezervacija za otkazani temin</span>
                                                    {% elseif booking.canceled == 2 %}
                                                        <span>Potvrđen termin
                                                            {% if booking.triggered == 1 %}
                                                                <br>Aktivirano predbilježbom
                                                            {% endif %}
                                                    </span>
                                                    {% else %}
                                                        <span>Rezervacija nepoznatog statusa</span>
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </section>
                                </div><!--

                                --><div class = "section-group-selector">
                                    <section class="td availability inline-cont">
                                        <a class = "availability-holder" href = "{{ urlFor('user.bookings.span.details', {'span_id':booking.datetime_span.id}) }}">
                                            <i class = "fa fa-fw fa-users"></i><!--
                                            --><span>{{ '%d%s/%d'|format(booking.datetime_span.numberOfReservations(),
                                                (booking.datetime_span.numberOfPrereservations() > 0)? '+' ~ booking.datetime_span.numberOfPrereservations() : '',
                                                booking.datetime_span.training_course.capacity)}}</span>
                                        </a>
                                    </section><!--
                                    --><section class = "td cancelation empty inline-cont">

                                    </section>
                                </div>


                            </div>
                        {% endfor %}

                    {% endif %}
                {% endif %}
                </div>
                <input type = "hidden" name = "csrf-token" value = "{{ csrf_token }}">

            </div>
        </div>

    </div>

{% endblock %}


{% block additional_js %}
    <script src="public/code/js/bookings.js"></script>

{% endblock %}