<div class = "content-column">

    <div class = "vertical-section text-centered">
        <h3>Sortirano po formi. Broj utakmica: {{ num_of_games }}</h3>
    </div>

    <div class = "rankings-table-container sort-by-num-of-recent-pts">

        <div class = "heading-container">

            <div class = "th margin-std-lr data-user">
                <h4>Igrač</h4>
            </div><!--

            --><div class = "th margin-std-lr data-points">
                <h4 class = "short-name">B</h4><h4 class = "long-name">Bodovi</h4>
            </div><!--


            --><div class = "th margin-std-lr data-recent-form">
                <h4>Forma</h4>
            </div><!--

            --><div class = "th margin-std-lr data-wins">
                <h4 class = "short-name">P</h4><h4 class = "long-name">Pobjede</h4>
            </div><!--

            --><div class = "th margin-std-lr data-draws">
                <h4 class = "short-name">N</h4><h4 class = "long-name">Neriješene</h4>
            </div><!--

            --><div class = "th margin-std-lr data-losses">
                <h4 class = "short-name">I</h4><h4 class = "long-name">Izgubljene</h4>
            </div><!--

            --><div class = "th margin-std-lr data-results-ratio">
                <h4 class = "long-name">Omjer</h4>
            </div>


        </div>

        <div class = "rows-container">

            {% for user in users %}
                <div class = "tr height-2-and-half-em {{ (auth_user.id == user.id)? 'i-am-user':'' }}">

                    <div class = "td data-user margin-std-lr text-left">
                        <div class = "user"><!--
                            {%  set avatar_url = user.getAvatarURL('avatar',
                            { "width": 24, "height": 24, "crop": "fill"}) %}
                            --><div class = "img-holder data-avatar">
                                {%  if avatar_url %}
                                <img src = "{{ avatar_url }}" />
                            {% else %}
                                <i class = "fa fa-user"></i>
                            {% endif %}
                            </div><!--
                            --><span class = "data-username">{{ user.username }}</span><!--
                            --><span class = "data-full-name">({{ user.full_name() }})</span>
                        </div>
                    </div><!--

                    --><div class = "td data-points text-center margin-std-lr">
                        <div><!--
                            --><span>{{ user.numberOfRecentPoints(num_of_games) }}</span>
                        </div>
                    </div><!--


                    --><div class = "td data-recent-form text-left margin-std-lr">
                        {% set games = games_for_users[loop.index0] %}
                        <div class = "recent-games-icons"><!--
                        {% for my_game in games %}
                            --><div class = "recent-game-icon-holder"
                                    title = "{{ my_game.resultDescriptionStringFromPlayersPerspective(user.id) }}&#013;{{  my_game.datetime_span.stdDayMonth() }}">

                                <div class="pic-cont">
                                    {% if my_game.playersStatus(user.id) == 1 and not my_game.after_extra_time %}
                                        <i class = "fa icon victory fa-fw fa-flag"></i>
                                    {% elseif my_game.playersStatus(user.id) == 2  and not my_game.after_extra_time %}
                                        <i class = "fa icon loss fa-fw fa-flag"></i>
                                    {% elseif my_game.playersStatus(user.id) == 3 or my_game.after_extra_time %}
                                        <i class = "fa icon draw fa-fw fa-flag"></i>
                                    {% else %}
                                        <i class="icon fa fa-fw fa-question"></i>
                                    {% endif %}
                                </div>

                                {% if my_game.after_extra_time %}
                                    <div class = "overlay-pic-cont std-pic-cont">
                                        {% if my_game.playersStatus(user.id) == 1 %}
                                            <i class = "fa icon icon-o victory fa-fw fa-flag"></i>
                                        {% elseif my_game.playersStatus(user.id) == 2 %}
                                            <i class = "fa icon icon-o loss fa-fw fa-flag"></i>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            </div><!--

                        {% endfor %}
                        --></div>

                    </div><!--


                    --><div class = "td data-wins text-center margin-std-lr">
                        <div><!--
                            --><span>{{ user.numberOfRecentWins(num_of_games) }} ({{ user.numberOfRecentWinsAfterET(num_of_games) }})</span>
                        </div>
                    </div><!--


                    --><div class = "td data-draws text-center margin-std-lr">
                        <div><!--
                            --><span>{{ user.numberOfRecentDraws(num_of_games) }}</span>
                        </div>
                    </div><!--


                    --><div class = "td data-losses text-center margin-std-lr">
                        <div><!--
                            --><span>{{ user.numberOfRecentLosses(num_of_games) }}</span>
                        </div>
                    </div><!--


                    --><div class = "td data-results-ratio text-center margin-std-lr">
                        <div><!--
                            --><span>{{ user.recentResultsFor(num_of_games) }}:{{ user.recentResultsAgainst(num_of_games) }}</span>
                        </div>
                    </div>


                </div>
            {% endfor %}

        </div>

        <div class = "legend">
            <div class = "data-points">
                <span class = "short-name">
                    <span class = "bold-text">B</span><span> - bodovi</span>
                </span>
            </div>
            <div class = "data-wins">
                <span class = "short-name">
                    <span class = "bold-text">P</span><span> - pobjede</span>
                </span>
            </div>
            <div class = "data-draws">
                <span class = "short-name">
                    <span class = "bold-text">N</span><span> - neriješene</span>
                </span>
            </div>
            <div class = "data-losses">
                <span class = "short-name">
                    <span class = "bold-text">I</span><span> - izgubljene</span>
                </span>
            </div>
        </div>

    </div>



</div>