{% extends "templates/default.twig" %}

{% block title %}
    Korisni훾ke stranice
{% endblock %}

{% block content %}


    <div class = "main-block-cont">
        <div class = "black-horiz-spacer-10"></div>

        <div class = "main-title-box">
            <div class = "inner-cont flag"></div>
            <div class = "inner-cont page-title">
                <h1>Profil stranice {{ auth_user.ssbos('훾lanice', '훾lana') }}</h1>
            </div>
        </div>
        <div class = "black-horiz-spacer-5"></div>

        <div class = "main-content-box">
            {% include "templates/partials/user_messages.twig" %}

            <div class = "inner-cont">

                {% include "templates/partials/live_status.container.twig" %}

            </div>
            <input type="hidden" name="messages-loader-url" id = "messages-loader-url" value="{{ urlFor('user.profile.load.messages.post') }}" />
            <input type="hidden" name="reservations-loader-url" id = "reservations-loader-url" value="{{ urlFor('user.profile.load.reservations.post') }}" />
            <input type="hidden" name="games-loader-url" id = "games-loader-url" value="{{ urlFor('user.profile.load.games.post') }}" />


            <div class = "profile-cont mega profile-container main" id = "main-profile-cont">
                <section class="main">
                    <div class = "inner-cont loading-info-cont">
                        <div class = "horizontal-section text-centered">
                            <div class = "inner-70pct">
                                <div class = "loading js-loading">U훾itavanje...
                                    <i class = "fuconz-spinner fa fa-fw fa-spinner fa-spin"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    {#<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.2/masonry.pkgd.js"></script>#}


                    <main>
                        <div class = "general-holder">
                            <section id = "unread-messages" class = "profile-grid" >
                            </section><!--

                            --><section id = "hot-games" class = "profile-grid" >
                            </section><!--

                            --><section id = "hot-bookings" class = "profile-grid" >
                            </section>


                        </div>

                    </main>
                </section>
            </div>
            <input type = "hidden" name = "csrf-token" value = "{{ csrf_token }}">

        </div>
    </div>

{% endblock %}

{% block additional_js %}
    <script src="public/code/js/profile.js"></script>

    <script src="public/code/js/messages.js"></script>
    <script src="public/code/js/bookings.js"></script>

{% endblock %}


