{% extends "templates/default.twig" %}

{% block title %}
    Tekma - cool
{% endblock %}

{% block content %}

    <div class = "main-block-cont">
        <div class = "black-horiz-spacer-10"></div>

        <div class = "main-title-box">
            <div class = "inner-cont flag"></div>
            <div class = "inner-cont page-title">
                <h1>Tekma - cool</h1>
            </div>
        </div>
        <div class = "black-horiz-spacer-5"></div>

        <div class = "main-content-box">
            <div class = "inner-cont">
                {% include "templates/partials/user_messages.twig" %}
            </div>
            <div class = "game-cont mega match-container main" id = "main-game-cont">
                <input type="hidden" name="game-id" value="{{ game_id }}" />


                <section class="main">
                    <div class = "inner-cont loading-info-cont">
                        <div class = "vertical-section text-centered">
                            <div class = "inner-70pct">
                                <div class = "loading js-loading">Učitavanje...
                                    <i class = "pp-icon-spin fa fa-fw fa-spinner fa-spin"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <main>
                        <div class="js-switcher switcher">
                            <a href="#" class="js-switch disabled teamOne switch-btn">EKIPA 1</a><a href="#" class="js-switch teamTwo switch-btn">EKIPA 2</a>
                        </div>
                        <div class="js-stage stage texture">
                            <div class="js-world world">

                                <div class="terrain js-terrain">
                                    <div class = "terrain-holder">
                                        <div class="field field--alt"></div>
                                        <div class="field ground">
                                            <div class="field__texture field__texture--gradient"></div>
                                            <div class="field__texture field__texture--gradient-b"></div>
                                            <div class="field__texture field__texture--grass"></div>

                                            <div class="field__line field__line--outline"></div>
                                            <div class="field__line field__line--penalty"></div>

                                            <div class="field__line field__line--mid"></div>
                                            <div class="field__line field__line--circle"></div>
                                            <div class="field__line field__line--penalty field__line--penalty--far"></div>
                                        </div>
                                        <div class="field__side field__side--front"></div>
                                        <div class="field__side field__side--left"></div>
                                        <div class="field__side field__side--right"></div>
                                        <div class="field__side field__side--back"></div>
                                    </div>
                                </div>


                                <div class="team js-stub-team">
                                    <!-- Team cards / icons goes here -->
                                    {% for teamSide in ["teamOne", "teamTwo"] %}
                                        {% for player in teams[teamSide] %}
                                            <div class = "stub-player js-stub-player {{ teamSide }}" data-side = "{{ teamSide }}"
                                                 data-name = "{{ player.username }}" data-x = "" data-y = "">

                                                <div class="player__placeholder"><i class = "fa fa-fw fa-user"></i></div>
                                                <div class="player__label"><span>{{ player.username }}</span></div>

                                            </div>
                                        {% endfor %}
                                    {% endfor %}
                                </div>


                                <div class="team js-team">
                                    <!-- Team cards / icons goes here -->
                                    {% for teamSide in ["teamOne", "teamTwo"] %}
                                        {% for player in teams[teamSide] %}
                                            {%  set avatar_url = player.getAvatarURL('avatar',
                                            { "width": 50, "height": 50, "crop": "fill"}) %}

                                            <div class = "player js-player {{ teamSide }}" data-side = "{{ teamSide }}"
                                                 data-name = "{{ player.username }}" data-x = "" data-y = ""
                                                 data-avatar-exists = "{{ (avatar_url)? '1' : '0' }}"
                                                 data-avatar-url = "{{ avatar_url }}">


                                                <div class="player__placeholder"></div>


                                                <div class="player__card">
                                                    <div class = "name"><h3>{{ player.username }}</h3></div>
                                                    <ul class="player__card__list">
                                                        <li><span>DOB</span><br/>25yr</li><!--
                                                    --><li><span>Height</span><br/>185</li><!--
                                                    --><li><span>Origin</span><br/>Brazil</li>
                                                    </ul>
                                                    <ul class="player__card__list player__card__list--last">
                                                        <li><span>Games</span><br/>35</li><!--
                                                    --><li><span>Goals</span><br/>5</li>
                                                    </ul>
                                                </div>

                                                <div class="player__img std-item">
                                                    <div class = "icon-holder std-icon-holder">
                                                        <div class = "user-avatar-cont std-icon-cont">
                                                            <div class = "thumbnail user user-icon std-icon no-avatar">
                                                                <div class="pic-cont std-pic-cont">
                                                                    {% if avatar_url %}
                                                                        <span class="v-align-helper"></span><!--
                                                                    --><img src = "{{ avatar_url }}">
                                                                    {% else %}
                                                                        <i class = "fa icon fa-fw fa-male"></i>
                                                                    {% endif %}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class = "holder">
                                                    <span class="player__label">{{ player.username }}</span>
                                                </div>

                                            </div>
                                        {% endfor %}
                                    {% endfor %}

                                </div>

                            </div>

                        </div>
                    </main>
                </section>


            </div>
            <input type = "hidden" name = "csrf-token" value = "{{ csrf_token }}">
            <input type="hidden" name="load-url" value="{{ urlFor('game.test.load.post') }}" />

        </div>
    </div>

{% endblock %}


{% block additional_js %}
    <script src="public/js/velocity.min.js"></script>

    <script src="public/js/match/game.js"></script>
{% endblock %}